<h1>Teams#index</h1>
<% team_index %>
<% @teams.each do |team| %>
  <p><%= team.id %></p>
  <p><%= link_to "Delete", team, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm float-sm-left' %></p>
  <p><%= team.name %></p>
<% end %>
<%= form_with(model: @team, local: true) do |f| %>
  <%= f.label "number:" %>
  <%= f.text_field :id %>
  
  <%= f.label "team_name:" %>
  <%= f.text_field :name %>
  
  <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
  
<% end %>
