<h1>Teams#index</h1>
<% team_index %>
<% @teams.each do |team| %>
  <p><%= team.id %></p>
  <% if team.icon? %>
    <%= image_tag team.icon.url, :size => '100x100' %>
  <% else %>
    <%= image_tag asset_path("no_image.png"), :size => '100x100' %>
  <% end %>
  <p><%= team.name %></p>
  <p><%= link_to "Delete", team, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm float-sm-left' %></br></p>
<% end %>
<%= form_with(model: @team, local: true) do |f| %>
  <%= f.file_field :icon, accept: 'image/jpeg,image/gif,image/png' %>

  <%= f.label "number:" %>
  <%= f.text_field :id %>
  
  <%= f.label "team_name:" %>
  <%= f.text_field :name %>
  
  <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
  
<% end %>
