<h1><%= @user.name%> の詳細ページ</h1>
  <%= image_tag display_image(@user.icon.url), :size => '200x200' %>
  <p><%= @user.name %></p>
  <% if user_signed_in? and @user == current_user %>
    <% unless @user.admin %>
      <p><%= link_to "編集", edit_user_registration_path, class: 'btn btn-warning btn-sm float-sm-left' %></br></p>
      <p><%= link_to "削除", user_registration_path, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm float-sm-left' %></br></p>
    <% end %>
  <% end %>
  
  <% @user.posts.each do |post| %>
    <% if post.present? %>
      <%= post.coment %>
    <% end %>
    <%= link_to "詳細", post_path(post.id) %>
  <% end %>