<h1><%= @user.name%> の詳細ページ</h1>

  <% if @user.icon? %>
    <%= image_tag @user.icon.url, :size => '200x200' %>
  <% else %>
    <%= image_tag "/assets/no_image.png", :size => '200x200' %>
  <% end %>
  <p><%= @user.name %></p>
  
  <% @user.posts.each do |post| %>
    <% if post.present? %>
      <%= post.coment %>
    <% end %>
  <% end %>