<div class="row">
  <div class="col-sm-4">
    <%= form_with(model: post, local: true) do |f| %>
      <div class="form-group">
        <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class:"form-control-file", id:"exampleFormControlFile1" %>
      </div>
      <div class="form-group">
        <%= f.label"チームを選択" %>
        <%= f.select:team_id , options_from_collection_for_select(Team.all, :id, :name), class: 'form-control form-control-lg' %>
      </div>
      <div class="form-group">
        <%= f.label "コメント" %>
        <%= f.text_area :coment, class: 'form-control', rows: 3 %>
      </div>
      <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>