<div class="col mb-4">
  <div class="card h-100" style="width:300px;">
    <%= image_tag display_image(post.image.url), class:"card-img-top", :size => '300x300'  %>
    <div class="card-body">
      <p class="card-text"><%= post.team.name%></p>
      <p class="card-text"><%= post.coment%></p>
      <p class="card-text"><%= post.created_at%></p>
      <%= link_to "詳細", post_path(post.id) %>
    </div>
  </div>
</div>
