<h1>Post show view</h1>
  <%= @post.team.name %>
  <% if @post.image.present? %>
    <%= image_tag @post.image.url, :size => '100x100' %>
  <% else %>
    <%= image_tag "/assets/no_image.png", :size => '100x100' %>
  <% end %>
  
  <%= @post.coment %>
  <%= link_to '編集', edit_post_path %>
  <%= link_to '削除', post_path, method: :delete %>